<beans xmlns ="http://xmnls.jcp.org/xml/ns/javaee"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://xmnls.jcp.org/xml/ns/javaee
	   http://xmnls.jcp.org/xml/ns/javaee/beans_1_1.xsd"
	   bean-discoverd-mode="all">
	   <interceptors>
			<class>br.edu.ifpb.pweb2.dao.TransactionInterceptor</class>
		</interceptors>
</beans>	